<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PeopleGrow Automation Test Assignment2">
   <listeners>
        <listener class-name="com.peoplegrow.qa.TestListener.Listener" />  
    </listeners>
	   
    <test thread-count="5" name="PeopleGrow Test Cases">
    <classes>
		 <class name="com.peoplegrow.qa.testcases.SignInButtonLinkTest"/>
      <class name="com.peoplegrow.qa.testcases.LoginPageTest"/>
     <class name="com.peoplegrow.qa.testcases.HomePageTest"/>
      <class name="com.peoplegrow.qa.testcases.InspirationForYouTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->